.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px 0;
}

main {
    width: 100%;
    max-width: 600px;
    height: 100%;
}

.question-container {
    background: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    text-align: center;
    transition: transform 0.3s;
    margin: 70px 0px 0px 0px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.question-container:hover {
    transform: scale(1);
}

.title {
    font-size: 24px;
    color: #3498db;
    font-size: 36px;
    height: inherit;
    line-height: normal;
}

.keyword-conatiner {
    margin: 10px 0;
}

.keyword {
    background: #3498db;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 14px;
    display: inline-block;
}

.content-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.content-title {
    color: #777;
}

.content {
    width: 100%;
    margin-top: 0px;
    min-height: 200px;
    color: #333;
    display: flex;
    align-items: flex-start;
    padding: 15px;
    line-height: normal;
    font-size: large;
    background-color: #eaeaea;
    border-radius: 8px;
}

.subsidiary {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: #555;
    margin-top: 20px;
}

.card {
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.card button {
    display: block;
    margin: 0 auto;
    background-color: #0077b5;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.action-buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

.action-buttons a {
    text-decoration: none;
    background: #3498db;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.action-buttons a:hover {
    background: #555;
}

.button_list_edit {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

.button-black {
    background-color: #333;
    color: #fff;
    border: none;
    margin-right: 5px;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-black:last-child {
    margin-right: 0;
}

.button-black:hover {
    background-color: #555;
}

.answer-container-wrapper {
    margin: 30px 0px 150px 0px;
}

.answer-container {
    background: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    /* max-width: 400px; */
    width: 100%;
    text-align: center;
    transition: transform 0.3s;
    margin: 30px 0px 0px 0px;
}

.answer-container:hover {
    transform: scale(1.05);
}

#comment-wrapper {
    display: none;
}

a:hover {
    cursor: pointer;
}