body {
    background-color: white;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    animation: slideIn 1s ease-in-out;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.817);
    padding: 30px 100px;
    border-radius: 50px;
    text-align: left;
    margin-top: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-container h1 {
    color: black;
}

.login-form .form-group {
    margin-bottom: 15px;
}

.login-form label {
    display: block;
    color: black;
}

.login-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 20px;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="email"] {
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: black;
    width: 100%;
}

.login-form input[type="submit"] {
    background: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    position: relative;
    animation: scaleUp 0.5s ease-in-out;
    margin-top: 50px;
}

.login-form input[type="submit"]:hover {
    background: white;
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 5px lightgray, 0 0 25px lightgray, 0 0 50px lightgray, 0 0 100px lightgray;
}


.login-form input[type="submit"]::before {
    content: "";
    position: absolute;
    display: block;
}

.login-form input[type="submit"]::before:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #04ffaf);
    animation: btn-anim1 1s linear infinite;
}

.login-form input[type="submit"]::before:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #04ffaf);
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
}

.login-form input[type="submit"]::before:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #04ffaf);
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
}

.login-form input[type="submit"]::before:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #04ffaf);
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
}

.login-form input[type="submit"] {
    animation: scaleUp 0.5s ease-in-out;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scaleUp {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}