{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
        <title>DevCommunity</title>
</head>

<body>
        {% include 'nav.html' %}
        <main style="padding-bottom: 165px;">
                <section id="welcome-section">
                        <div class="container">
                                <p>Project is <span class="typed-text"></span><span class="cursor">&nbsp;</span></p>
                        </div>
                </section>
                <section id="portfolio-section" class="main-container"></section>
                <section id="project-section" class="main-container"></section>
                <section id="question-section" class="main-container"></section>
        </main>
</body>
<script src="{% static 'js/index.js' %}"></script>
<script>
        jQuery(document).ready(function () {
                jQuery.get("{% url 'hanwooplz_app:portfolio_list' %}", function (data) {
                        jQuery("#portfolio-section").html(data);
                        jQuery("#portfolio-section .navbar").remove();
                        jQuery("#portfolio-section .select-group").remove();
                        jQuery("#portfolio-section .page").remove();
                        jQuery("#portfolio-section .button-black").text("더보기");
                        jQuery("#portfolio-section .button-black").css("margin-top","15px");
                        jQuery("#portfolio-section .button-black").attr("onclick","window.location.href = '{% url "hanwooplz_app:portfolio_list" %}'");
                });
                jQuery.get("{% url 'hanwooplz_app:project_list' %}", function (data) {
                        jQuery("#project-section").html(data);
                        jQuery("#project-section .navbar").remove();
                        jQuery("#project-section .select-group").remove();
                        jQuery("#project-section .page").remove();
                        jQuery("#project-section .button-black").text("더보기");
                        jQuery("#project-section .button-black").css("margin-top","15px");
                        jQuery("#project-section .button-black").attr("onclick","window.location.href = '{% url "hanwooplz_app:project_list" %}'");
                });
                jQuery.get("{% url 'hanwooplz_app:question_list' %}", function (data) {
                        jQuery("#question-section").html(data);
                        jQuery("#question-section .navbar").remove();
                        jQuery("#question-section .select-group").remove();
                        jQuery("#question-section .page").remove();
                        jQuery("#question-section .button-black").text("더보기");
                        jQuery("#question-section .button-black").css("margin-top","15px");
                        jQuery("#question-section .button-black").attr("onclick","window.location.href = '{% url "hanwooplz_app:question_list" %}'");
                });
        });
</script>
<script>
        const typedTextSpan = document.querySelector(".typed-text");
        const cursorSpan = document.querySelector(".cursor");

        const textArray = ["Hard", "Fun", "Career", "Life"];
        const typingDelay = 200;
        const erasingDelay = 100;
        const newTextDelay = 2000;
        let textArrayIndex = 0;
        let charIndex = 0;

        function type() {
                if (charIndex < textArray[textArrayIndex].length) {
                        if (!cursorSpan.classList.contains("typing")) cursorSpan.classList.add("typing");
                        typedTextSpan.textContent += textArray[textArrayIndex].charAt(charIndex);
                        charIndex++;
                        setTimeout(type, typingDelay);
                }
                else {
                        cursorSpan.classList.remove("typing");
                        setTimeout(erase, newTextDelay);
                }
        }

        function erase() {
                if (charIndex > 0) {
                        if (!cursorSpan.classList.contains("typing")) cursorSpan.classList.add("typing");
                        typedTextSpan.textContent = textArray[textArrayIndex].substring(0, charIndex - 1);
                        charIndex--;
                        setTimeout(erase, erasingDelay);
                }
                else {
                        cursorSpan.classList.remove("typing");
                        textArrayIndex++;
                        if (textArrayIndex >= textArray.length) textArrayIndex = 0;
                        setTimeout(type, typingDelay + 1100);
                }
        }

        document.addEventListener("DOMContentLoaded", function () {
                if (textArray.length) setTimeout(type, newTextDelay + 250);
        });
</script>

</html>