{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="2;url=/index/">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">
    <style>
        
    </style>
    <title>DevCommunity</title>
</head>

<body>
    <div class="wavy" onclick="window.location.href = 'index';">
        <span style="--i:1">D</span>
        <span style="--i:2">E</span>
        <span style="--i:3">V</span>
        <span style="--i:4">C</span>
        <span style="--i:5">O</span>
        <span style="--i:6">M</span>
        <span style="--i:7">M</span>
        <span style="--i:8">U</span>
        <span style="--i:9">N</span>
        <span style="--i:10">I</span>
        <span style="--i:11">T</span>
        <span style="--i:12">Y</span>
    </div>
</body>

</html>