{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="2;url=/index/">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">
    <style>
        
    </style>
    <title>DevCommunity</title>
</head>

<body>
    <div class="wavy" onclick="window.location.href = 'index';">
        <span style="--i:1">D</span>
        <span style="--i:2">e</span>
        <span style="--i:3">v</span>
        <span style="--i:4">C</span>
        <span style="--i:5">o</span>
        <span style="--i:6">m</span>
        <span style="--i:7">m</span>
        <span style="--i:8">u</span>
        <span style="--i:9">n</span>
        <span style="--i:10">i</span>
        <span style="--i:11">t</span>
        <span style="--i:12">y</span>
    </div>
</body>

</html>