{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="2;url=/index/">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">
    <style>
        
    </style>
    <title>DevCommunity</title>
</head>

<body>
    <div class="wavy" onclick="window.location.href = 'index';">
        <span style="--i:1">자</span>
        <span style="--i:2">동</span>
        <span style="--i:3">배</span>
        <span style="--i:4">포</span>
        <span style="--i:5">테</span>
        <span style="--i:6">스</span>
        <span style="--i:7">트</span>
        <span style="--i:8">중</span>
        <span style="--i:9">입</span>
        <span style="--i:10">니</span>
        <span style="--i:11">다</span>
        <span style="--i:12">.</span>
    </div>
</body>

</html>